<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<p><img src="http://fischertang.github.io/images/ftlogo.jpg" width=350></p>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
				<li><a href="/practiceareas">Practice Areas</a></li>
				<li><a href="/practiceareas">Attorney Services</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
				  <div id="footer-content">
	    		<ul>
	        	  <li><a href="https://fischertang.com">fischertang.com</a></li>
							<li><a href="mailto:fischertang@gmail.com">fischertang@gmail.com</a></li>
</div>
				</ul>
			</footer>
		</body>
	</html>
